<form (ngSubmit)="calculateInvestment()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input id="initial-investment" name="initial-investment" type="number"
                [(ngModel)]="investmentData.initialInvestment" />
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input id="annual-investment" name="annual-investment" type="number"
                [(ngModel)]="investmentData.annualInvestment" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" name="expected-return" type="number" 
            [(ngModel)]="investmentData.expectedReturn" />
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" name="duration" type="number" [(ngModel)]="investmentData.duration" />
        </p>
    </div>
    <div>
        <button>Calculate</button>
    </div>
</form>